@import "tailwindcss";


@keyframes jumpAnimation {
  0%, 25% { 
    transform: translateY(0) translateX(0); 
  }
  50%, 75% { 
    transform: translateY(-200px) translateX(-180px); 
  }
  100% { 
    transform: translateY(0) translateX(0); 
  }
}

.jump-animation {
  animation: jumpAnimation 2s ease-in-out infinite;
}

  
  @keyframes heartbeat-darken {
    0%, 100% {
      filter: brightness(1); /* Normal brightness */
    }
    50% {
      filter: brightness(0.5); /* Darkens the heart */
    }
  }
  
  .heartbeat-animation {
    animation: heartbeat-darken 0.9s ease-in infinite;
  }


  @keyframes fastBlink {
    0%, 100% {
      opacity: 1;
      content: url('/Head Blink.svg'); /* Default image */
    }
    50% {
      opacity: 1;
      content: url('/hearteyes.png'); /* Switched image */
    }
  }
  
  .blinking-head {
    animation: fastBlink 0.125s steps(1) infinite; /* Fast switch every 0.2s */
  }
  
  
  